<pre>
 ---------------------------------
/                                 \
| /$$   /$$  /$$$$$$  /$$   /$$   |
|| $$  | $$ /$$$_  $$| $$  | $$   |
|| $$  | $$| $$$$\ $$| $$  | $$   |
|| $$$$$$$$| $$ $$ $$| $$$$$$$$   |
||_____  $$| $$\ $$$$|_____  $$   |
|      | $$| $$ \ $$$      | $$   |
|      | $$|  $$$$$$/      | $$   |
|      |__/ \______/       |__/   |
|                                 |
|                                 |
|                                 |
|¯\_(ツ)_/¯, SMH. You must be lost.|
\                                 /
 ---------------------------------
    \     
     \     
      \      
           ___ ____
         ⎛   ⎛ ,----
          \  //==--'
     _//|,.·//==--'    ____________________________
    _OO≣=-  ︶ ᴹw ⎞_§ ______  ___\ ___\ ,\__ \/ __ \
   (∞)_, )  (     |  ______/__  \/ /__ / /_/ / /_/ /
     ¨--¨|| |- (  / ______\____/ \___/ \__^_/  .__/
         ««_/  «_/ jgs/bd808                /_/
</pre>
